openapi: 3.0.3
info:
  title: Resend Email API
  version: 1.1.0
  description: '

    Resend is transforming email for developers. Simple interface, easy

    integrations, handy templates. '
servers:
- url: https://api.resend.com
security:
- bearerAuth: []
tags:
- name: Email
paths:
  /emails/{email_id}:
    get:
      tags:
      - Email
      summary: Retrieve a single email
      parameters:
      - name: email_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the email.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
    patch:
      tags:
      - Email
      summary: Update a single email
      parameters:
      - name: email_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the email.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEmailOptions'
  /emails/{email_id}/cancel:
    post:
      tags:
      - Email
      summary: Cancel the schedule of the e-mail.
      parameters:
      - name: email_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the email.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
  /audiences/{audience_id}/contacts/{email}:
    delete:
      tags:
      - Email
      summary: Remove an existing contact by email
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
          description: The Contact ID.
      - name: audience_id
        in: path
        required: true
        schema:
          type: string
          description: The Audience ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveContactResponseSuccess'
components:
  schemas:
    UpdateEmailOptions:
      type: object
      properties:
        scheduled_at:
          type: string
          description: Schedule email to be sent later. The date should be in ISO 8601 format.
    RemoveContactResponseSuccess:
      type: object
      properties:
        object:
          type: string
          description: Type of the response object.
          example: contact
        id:
          type: string
          description: Unique identifier for the removed contact.
          example: 520784e2-887d-4c25-b53c-4ad46ad38100
        deleted:
          type: boolean
          description: Indicates whether the contact was successfully deleted.
          example: true
    Email:
      type: object
      properties:
        object:
          type: string
          description: The type of object.
          example: email
        id:
          type: string
          description: The ID of the email.
          example: 4ef9a417-02e9-4d39-ad75-9611e0fcc33c
        to:
          type: array
          items:
            type: string
            description: The email addresses of the recipients.
          example:
          - delivered@resend.dev
        from:
          type: string
          description: The email address of the sender.
          example: Acme <onboarding@resend.dev>
        created_at:
          type: string
          format: date-time
          description: The date and time the email was created.
          example: '2023-04-03T22:13:42.674981+00:00'
        subject:
          type: string
          description: The subject line of the email.
          example: Hello World
        html:
          type: string
          description: The HTML body of the email.
          example: Congrats on sending your <strong>first email</strong>!
        text:
          type: string
          description: The plain text body of the email.
        bcc:
          type: array
          items:
            type: string
          description: The email addresses of the blind carbon copy recipients.
        cc:
          type: array
          items:
            type: string
          description: The email addresses of the carbon copy recipients.
        reply_to:
          type: array
          items:
            type: string
          description: The email addresses to which replies should be sent.
        last_event:
          type: string
          description: The status of the email.
          example: delivered
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
