openapi: 3.0.3
info:
  title: Resend Broadcasts API
  version: 1.1.0
  description: '

    Resend is transforming email for developers. Simple interface, easy

    integrations, handy templates. '
servers:
- url: https://api.resend.com
security:
- bearerAuth: []
tags:
- name: Broadcasts
paths:
  /broadcasts:
    post:
      tags:
      - Broadcasts
      summary: Create a broadcast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBroadcastOptions'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBroadcastResponseSuccess'
    get:
      tags:
      - Broadcasts
      summary: Retrieve a list of broadcasts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBroadcastsResponseSuccess'
  /broadcasts/{id}:
    delete:
      tags:
      - Broadcasts
      summary: Remove an existing broadcast that is in the draft status
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: The Broadcast ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveBroadcastResponseSuccess'
    get:
      tags:
      - Broadcasts
      summary: Retrieve a single broadcast
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: The Broadcast ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBroadcastResponseSuccess'
components:
  schemas:
    CreateBroadcastOptions:
      type: object
      required:
      - audience_id
      - from
      - subject
      properties:
        name:
          type: string
          description: Name of the broadcast.
        audience_id:
          type: string
          description: Unique identifier of the audience this broadcast will be sent to.
        from:
          type: string
          description: The email address of the sender.
        subject:
          type: string
          description: The subject line of the email.
        reply_to:
          type: array
          items:
            type: string
          description: The email addresses to which replies should be sent.
        preview_text:
          type: string
          description: The preview text of the email.
          example: Here are our announcements
        html:
          type: string
          description: The HTML version of the message.
        text:
          type: string
          description: The plain text version of the message.
    CreateBroadcastResponseSuccess:
      type: object
      properties:
        id:
          type: string
          description: The ID of the broadcast.
          example: 78261eea-8f8b-4381-83c6-79fa7120f1cf
        object:
          type: string
          description: The object type of the response.
          example: broadcast
    GetBroadcastResponseSuccess:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the broadcast.
          example: e169aa45-1ecf-4183-9955-b1499d5701d3
        name:
          type: string
          description: Name of the broadcast.
          example: November announcements
        audience_id:
          type: string
          description: Unique identifier of the audience this broadcast will be sent to.
        from:
          type: string
          description: The email address of the sender.
          example: Acme <onboarding@resend.dev>
        subject:
          type: string
          description: The subject line of the email.
          example: Hello World
        reply_to:
          type: array
          items:
            type: string
          description: The email addresses to which replies should be sent.
        preview_text:
          type: string
          description: The preview text of the email.
          example: Here are our announcements
        status:
          type: string
          description: The status of the broadcast.
          example: draft
        created_at:
          type: string
          format: date-time
          description: Timestamp indicating when the broadcast was created.
          example: '2023-10-06T22:59:55.977Z'
        scheduled_at:
          type: string
          format: date-time
          description: Timestamp indicating when the broadcast is scheduled to be sent.
          example: '2023-10-06T22:59:55.977Z'
        sent_at:
          type: string
          format: date-time
          description: Timestamp indicating when the broadcast was sent.
          example: '2023-10-06T22:59:55.977Z'
    ListBroadcastsResponseSuccess:
      type: object
      properties:
        object:
          type: string
          description: Type of the response object.
          example: list
        data:
          type: array
          description: Array containing broadcast information.
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for the broadcast.
                example: e169aa45-1ecf-4183-9955-b1499d5701d3
              name:
                type: string
                description: Name of the broadcast.
                example: November announcements
              audience_id:
                type: string
                description: Unique identifier of the audience this broadcast will be sent to.
                example: 78261eea-8f8b-4381-83c6-79fa7120f1cf
              status:
                type: string
                description: The status of the broadcast.
                example: draft
              created_at:
                type: string
                format: date-time
                description: Timestamp indicating when the broadcast was created.
                example: '2023-10-06T22:59:55.977Z'
              scheduled_at:
                type: string
                format: date-time
                description: Timestamp indicating when the broadcast is scheduled to be sent.
                example: '2023-10-06T22:59:55.977Z'
              sent_at:
                type: string
                format: date-time
                description: Timestamp indicating when the broadcast was sent.
                example: '2023-10-06T22:59:55.977Z'
    RemoveBroadcastResponseSuccess:
      type: object
      properties:
        id:
          type: string
          description: The ID of the broadcast.
          example: 78261eea-8f8b-4381-83c6-79fa7120f1cf
        object:
          type: string
          description: Type of the response object.
          example: broadcast
        deleted:
          type: boolean
          description: The deleted attribute indicates that the corresponding broadcast has been deleted.
          example: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
